@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;

}

html,
body {
  min-height: 100%;
  width: auto;
  overflow-x: hidden;
}

body {
  background: radial-gradient(at top left, rgb(43, 110, 225) 0%, rgb(4, 33, 77) 100%);
  background-repeat: no-repeat;

}

p {
  margin: 16px auto;
  line-height: 1.5em;
  text-align: justify;
}



/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.navGene {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

.navGene .links {
  display: inline-block;
  text-align: right;


}

.navGene a {
  display: inline-block;
  color: white;
  /* text-decoration: none; */
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;

}

@media only screen and (max-width:600) {}

.navGene a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: red;
  transition: width .3s;

}

.navGene a:hover {
  text-decoration: none;
  color: white;
}

.navGene a:hover::after {
  width: 100%;

}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}