.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
.header h2{
    font-size: 4em;
}
.header h3{
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}

  .btn{
  background: #d42990;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 40%;
  font-weight: 600;
  text-align: center;
  transform-style: preserve-3d;
  transform-origin: center top;
  transition: all ease .6s;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
    
  }
  .btn::after{
    content: 'Mon Portfolio Projects';
    border: 3px solid #d42990;
    color: white;
    width: 86%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: center top;
    transform: rotateX(90deg);
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 600;
    
  }
  
  .btn:hover{
    transform: translate(100%);
    transform: rotateX(-90deg);
    text-decoration: none;
  }
  